.resultsTable {
	margin-top: 1em;
	padding: 1em;
	border: 1px solid var(--red-color);
	border-radius: 8px;
}
.table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 1em;
}
.tableHead {
}
.tableBody {
	border-bottom: 1px solid #ddd;
	padding: 0.8em;
	text-align: center;
}
