.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: var(--main-color);
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	max-width: 1400px;
	margin: 0 auto;
	padding: 1.2rem;
}
.navigationBtns {
	display: none;
	margin: 0 1rem;
	font-size: 1.4rem;
}
.hamburger {
	font-size: 2rem;
	padding: 0.5rem;
}
.navigationBtns,
.hamburger {
	background: none;
	border: none;

	color: var(--gray-color);
	transition: color 0.3s;
}

@keyframes close-icon-rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(180deg);
	}
}
.closeBtn {
	animation: close-icon-rotate 0.3s;
}

@media (min-width: 992px) {
	.navigationBtns {
		display: unset;
		cursor: pointer;
	}
	.hamburger {
		display: none;
	}
	.navigationBtns:hover {
		color: var(--yellow-color);
	}
}
