.nav {
	display: flex;
	list-style: none;
}
.link a {
	margin: 0 0.5rem;
	color: var(--white-color);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
}
.link a:hover {
	padding-bottom: 1rem;
	border-bottom: 2px solid var(--white-color);
}
.link a:global(.active) {
	padding-bottom: 1rem;
	color: var(--yellow-color);
	border-bottom: 2px solid var(--yellow-color);
}
