.box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
	border: 3px solid var(--red-color);
	overflow: hidden;
}
.logo {
	margin-top: 0.5rem;
	padding: 1rem;
	width: 90px;
	height: 90px;
	background-position: center;
	background-size: cover;
}
