.newsWrapper {
	flex-direction: column;
	/* padding: 1em; */
	flex-basis: 65%;
}

.otherNews {
	display: flex;
	justify-content: space-between;
	margin: 1em;
}
.news {
	padding: 1em;
	border: 1px solid gray;
	border-radius: 8px;
	flex-basis: 31%;
	min-height: 20em;
}
.btnMore {
	width: 30%;
	align-self: center;
	margin-top: 1em;
}
